obj
My Project
.vs
bin
/Client/SnowdenAngelsSupport/SnowdenAngelsSupport/SnowdenAngelsSupport.vbproj.user
/release/sassetup.exe
.idea
/Client/SnowdenAngelsSupport/SnowdenAngelsSupport.v11.suo
/web/smarty/cache
/web/smarty/templates_c
