obj
.vs
bin
/Client/SnowdenAngelsSupport/SnowdenAngelsSupport/SnowdenAngelsSupport.vbproj.user
/release/sassetup.exe
.idea
/Client/SnowdenAngelsSupport/SnowdenAngelsSupport.v11.suo
/web/smarty/cache
/web/smarty/templates_c
/Client/SnowdenAngelsSupport/SnowdenAngelsSupport/TestCert.pfx
/web/vendor
/web/composer.phar
/web/composer.json
/web/composer.lock
